<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
  <header><h1>TP Final - Productos</h1><nav><a href="/products">Products</a> | <a href="/realtimeproducts">Realtime</a></nav></header>
  <main>{{{body}}}</main>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/realtime.js"></script>
</body>
</html>
