<h1>Bienvenido al TP Final 🚀</h1>

<nav>
  <a href="/products">Productos (JSON)</a> |
  <a href="/realtimeproducts">Productos en tiempo real</a> |
  <a href="/api/carts">Ver Carritos (JSON)</a>
</nav>
